*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.contenedor{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 3px solid gray;
    border-radius: 1em;
    padding:20px;
    background-color:beige
}

